.container(ng-show='dayView')
  #day-header.row.text-center
    .arrow.arrow-left.col-md-1
    .col-md-10
      .arrow.arrow-up
      h1#day-number.title.text-center {{day}}
      h1#day.title.text-center {{month}}
      h1#day-of-week.title.text-center {{dow}}
    .arrow.arrow-right.col-md-1
  .row