nav#sidebar-wrapper.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
  ul.nav.sidebar-nav
    button#toggle-button.is-closed.animated.fadeInLeft(type='button', data-toggle='offcanvas')
    img#profile-picture(src='https://upload.wikimedia.org/wikipedia/commons/7/7c/Profile_avatar_placeholder_large.png')
    li
      a(href='#')
        i.fa.fa-2x.fa-fw.fa-plus
        | Add
    li
      a(href='#')
        i.fa.fa-2x.fa-fw.fa-upload
        | Import
    li
      a(href='#')
        i.fa.fa-2x.fa-fw.fa-bar-chart
        | Progress
    li
      a(href='#')
        i.fa.fa-2x.fa-fw.fa-lightbulb-o
        | Theme
    li#sign-out-link
      a(href='#')
        i.fa.fa-2x.fa-fw.fa-sign-out
        | Sign out